@charset "UTF-8";
onoe {
	font-weight: 700;
	color: #FFF;
	letter-spacing: normal;
	text-align: center;
	word-spacing: normal;
}
.new {
	font-size: xx-large;
	font-style: normal;
	line-height: normal;
	font-weight: 600;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	vertical-align: super;
}
